

.a7overview {
  width               : 100%;
  min-width           : 750px;
  height              : 100vh;
  min-height          : 1334px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.a7overview .bg {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 1334px;
  width               : 750px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
}
.a7overview .bg .bg1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 1334px;
  width               : 750px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .bg .img {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : -26px;
  height              : 1397px;
  width               : 962px;
  position            : absolute;
  margin              : 0;
  left                : -135px;
  opacity             : 0.6;
}
.a7overview .overdue {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1032px;
  height              : 234px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 562px;
}
.a7overview .overdue .chart {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 170px;
  height              : 64px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .overdue .chart .oval {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 64px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  opacity             : 0.1;
}
.a7overview .overdue .chart .filled {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 14px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
}
.a7overview .overdue .chart .oval1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
}
.a7overview .overdue .mins {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 110px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  opacity             : 0.5;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.91px;
  line-height         : 30.0px;
}
.a7overview .overdue .a8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  font-family         : "Avenir-Black", Helvetica, Arial, serif;
  font-size           : 80.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 4.0px;
  line-height         : 109.0px;
}
.a7overview .completed {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1032px;
  height              : 234px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 323px;
}
.a7overview .completed .chart1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 170px;
  height              : 64px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
}
.a7overview .completed .chart1 .oval2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 64px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  opacity             : 0.1;
}
.a7overview .completed .chart1 .filled1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 64px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
}
.a7overview .completed .chart1 .oval3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
}
.a7overview .completed .mins1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 110px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  opacity             : 0.5;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.91px;
  line-height         : 30.0px;
}
.a7overview .completed .a15 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "Avenir-Black", Helvetica, Arial, serif;
  font-size           : 80.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 4.0px;
  line-height         : 109.0px;
}
.a7overview .snoozed {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1032px;
  height              : 234px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
}
.a7overview .snoozed .chart2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 170px;
  height              : 64px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
}
.a7overview .snoozed .chart2 .oval4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 64px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  opacity             : 0.1;
}
.a7overview .snoozed .chart2 .filled2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 53px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
}
.a7overview .snoozed .chart2 .oval5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
}
.a7overview .snoozed .mins2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 110px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  opacity             : 0.5;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.91px;
  line-height         : 30.0px;
}
.a7overview .snoozed .a10 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "Avenir-Black", Helvetica, Arial, serif;
  font-size           : 80.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 4.0px;
  line-height         : 109.0px;
}
.a7overview .lines {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 456px;
  height              : 538px;
  width               : 537px;
  position            : absolute;
  margin              : 0;
  left                : 106px;
  opacity             : 0.4;
}
.a7overview .lines .line {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 538px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 535px;
}
.a7overview .lines .line1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 538px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 428px;
}
.a7overview .lines .line2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 538px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 321px;
}
.a7overview .lines .line3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 538px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 214px;
}
.a7overview .lines .line4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 538px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 107px;
}
.a7overview .lines .line5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 538px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .snoozed1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 636px;
  height              : 129px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
}
.a7overview .snoozed1 .a7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 645px;
}
.a7overview .snoozed1 .a6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 45px;
  height              : 24px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 535px;
}
.a7overview .snoozed1 .a5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 60px;
  height              : 24px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 428px;
}
.a7overview .snoozed1 .a4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 45px;
  height              : 24px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 321px;
}
.a7overview .snoozed1 .a3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 45px;
  height              : 24px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 214px;
}
.a7overview .snoozed1 .a2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 105px;
  height              : 24px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 107px;
}
.a7overview .snoozed1 .a1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 105px;
  height              : 24px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .completd {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 536px;
  height              : 95px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
}
.a7overview .completd .a71 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 24px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 645px;
}
.a7overview .completd .a61 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 536px;
}
.a7overview .completd .a51 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 71px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 429px;
}
.a7overview .completd .a41 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 322px;
}
.a7overview .completd .a31 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 41px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 215px;
}
.a7overview .completd .a21 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 108px;
}
.a7overview .completd .a11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 24px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .overdue1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 797px;
  height              : 94px;
  width               : 670px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
}
.a7overview .overdue1 .a72 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 70px;
  height              : 24px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 645px;
}
.a7overview .overdue1 .a62 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 60px;
  height              : 24px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 535px;
}
.a7overview .overdue1 .a52 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 24px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 428px;
}
.a7overview .overdue1 .a42 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 24px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 321px;
}
.a7overview .overdue1 .a32 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 66px;
  height              : 24px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 214px;
}
.a7overview .overdue1 .a22 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : 24px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 107px;
}
.a7overview .overdue1 .a12 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 51px;
  height              : 24px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .days {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 408px;
  height              : 23px;
  width               : 680px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  opacity             : 0.5;
}
.a7overview .days .a30 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 639px;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
.a7overview .days .a25 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 531px;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
.a7overview .days .a20 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 425px;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
.a7overview .days .a151 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 319px;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
.a7overview .days .a101 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 213px;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
.a7overview .days .a53 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 107px;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
.a7overview .days .a13 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 23.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
.a7overview .monthpicker {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 128px;
  height              : 250px;
  width               : 750px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .monthpicker .bg2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 250px;
  width               : 750px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  opacity             : 0.05;
}
.a7overview .monthpicker .right {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 89px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 670px;
  opacity             : 0.5;
}
.a7overview .monthpicker .right .shape {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : 22px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(-180deg); /* IE 9 */
  -webkit-transform   : rotate(-180deg); /* Chrome, Safari, Opera */
  transform           : rotate(-180deg);
}
.a7overview .monthpicker .right .group {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .monthpicker .right .group .bounds {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.a7overview .monthpicker .a2018 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 160px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 346px;
  opacity             : 0.5;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 30.0px;
}
.a7overview .monthpicker .july {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 60px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 306px;
  font-family         : "Avenir-Black", Helvetica, Arial, serif;
  font-size           : 70.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.0px;
  line-height         : 96.0px;
}
.a7overview .monthpicker .left {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 89px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  opacity             : 0.5;
}
.a7overview .monthpicker .left .group1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : 22px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
}
.a7overview .monthpicker .left .group1 .shape1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 22px;
  width               : 12px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.a7overview .monthpicker .left .bounds1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .navbar {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 128px;
  width               : 750px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .navbar .bounds2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 128px;
  width               : 750px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .navbar .search {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 58px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 673px;
}
.a7overview .navbar .search .group2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 44px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
}
.a7overview .navbar .search .bounds3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .navbar .overview {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 60px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 294px;
  font-family         : "Avenir-Black", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 0.5px;
  line-height         : 46.0px;
}
.a7overview .navbar .menu {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 58px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
}
.a7overview .navbar .menu .group3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 34px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.a7overview .navbar .menu .group3 .line6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 2px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .navbar .menu .group3 .line7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 2px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .navbar .menu .group3 .line8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 32px;
  height              : 2px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a7overview .navbar .menu .bounds4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}